<form action="">
    <input type="text"/>
    <button (click)="buscador()">BUSCAR</button>
</form>
<div><h1>PERDONAS</h1>
    <div id="carga" [hidden]="l"><h1>CARGANDO...</h1></div>
    <div id="muestra" [hidden]="j">
        <ul>
            <!--la variable x guarda la indexacion, "conteo de las repeticiones" -->
            <li *ngFor="let claseA of alumnoArray; let x = index">
                {{x}}
                <p>Nombre: {{claseA.nombre}}</p>
                <br>
                <h5 *ngIf="claseA.edad <= 65"> {{claseA.edad}}, TIERNO</h5>
            </li>
        </ul>
    </div>
</div>