<div class="container">
	<h1 class="title">
		<span class="g">G</span>
		<span class="a">&#9650;</span>
		<span class="t">T</span>
		<span class="o">&#9679;</span>
	  </h1>	  
	<label for="turn" class="how">¿Quién empieza?</label>
	<select id="turn" (change)="turno($event)" [disabled]="svf">
		<option value="0">{{opciones[0]}}</option>
		<option value="1">{{opciones[1]}}</option>
		<option value="2">{{opciones[2]}}</option>
	</select>
	<div class="buttons">
	  <button class="start-btn" id="inifin" [disabled]="g" (click)="enviar()">{{opciones[cnb]}}</button>
	  
	</div>
  </div>
  
