.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Monaco, monospace;
  }
  
  label {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  select {
    margin-bottom: 20px;
    font-family: Monaco, monospace;
    font-size: 16px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-family: Monaco, monospace;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  
  .start-btn {
    background-color: transparent;
    border: 1px solid white;
    margin-right: 10px;
  }
  
  .reset-btn {
    background-color: transparent;
    border: 1px solid white;
  }

  .title {
    font-family: 'Century Gothic', sans-serif;
    font-size: 72px;
    color: white;
    text-align: center;
  }
  
  .g {
    color:  #c1b3c8 ;
    text-decoration: underline;
    text-decoration-color:  #c1b3c8 ;
  }
  
  .a {
    color: #fbfbfb ;
    text-decoration: underline;
    text-decoration-color: #fbfbfb ;
  }
  
  .t {
    color: #40b9e6 ;
    text-decoration: underline;
    text-decoration-color: #40b9e6 ;
  }
  
  .o {
    color: #fcf404 ;
    text-decoration: underline;
    text-decoration-color: #fcf404 ;
    font-size: 99px;
  }
  .title + .how {
    margin-top: -25px;
  }